// General configuration used in all profiles
manifest {
  description = 'eTRANSAFE Treatment related findings pipeline'
  mainScript = 'pipeline.nf'
  author = 'Javier Corvi'
  homepage = 'https://gitlab.bsc.es/inb/etransafe/etransafe-text-mining-pipeline'
  license =  'https://gitlab.bsc.es/inb/etransafe/etransafe-text-mining-pipeline/-/blob/master/LICENSE.txt'

}

tower {
  accessToken = '6e6e09baaaf3bc0582997e27889f573dc106760c'
  enabled = true
}

process {
   executor = 'k8s'
}

k8s {
   storageClaimName = 'pretoxtm-nextflow-pipeline-pvc'
   storageMountPath = '/home/user/etransafe-workdir/data/k8s_nextflow'
   storageSubPath = '/my-data'
}

// Profiles configure nextflow depending on the environment (local, integration, live, etc.)
profiles {
	standard {
		
		process {
			withName: section_extraction{
				container = "registry.gitlab.bsc.es/inb/text-mining/generic-tools/section-extraction:2.0"
			}
		}
		
                process {
                        withName: pretox_sentence_classifier{
                                container = "registry.gitlab.bsc.es/inb/text-mining/generic-tools/stanford-classifier:2.0"
                        }
                }	
		
                process {
			withName: nlp_standard_preprocessing{
				container = "registry.gitlab.bsc.es/inb/text-mining/generic-tools/nlp-standard-preprocessing:2.0"
			}
		}
		
		process {
			withName: linnaeus_wrapper{
				container = "registry.gitlab.bsc.es/inb/text-mining/bio-tools/linnaeus-gate-wrapper:2.0"
			}
		}
		
                process {
			withName: dnorm_wrapper{
				container = "registry.gitlab.bsc.es/inb/text-mining/bio-tools/dnorm-gate-wrapper:2.0"
			}
		}		
		
		process {
			withName: pretox_treatment_related_finding_annotation{
				container = "registry.gitlab.bsc.es/inb/etransafe/pretox-terminology-annotation:3.0"
			}
		}
		
			
				
		process {
			withName: sr_domain_field_identification{
				container = "registry.gitlab.bsc.es/inb/etransafe/pretox-sr-domain-identification:change-finding-relation-format"
			}
		}
		
		process {
			withName: import_json_to_mongo{
				container = "registry.gitlab.bsc.es/inb/text-mining/generic-tools/import-json-to-mongo:2.0"
			}
		}

                process {
                        withName: pretox_umls_annotator{
                                container = "registry.gitlab.bsc.es/inb/etransafe/pretox-umls-annotator:2.1"
                        }
                }
		docker {
		enabled = true
		runOptions= '--net=host'
		}
		
		

	}
}
